body {
  margin: 0;
  font-family: "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#logo {
  max-width: 15vw;
  position: fixed;
  top: 1%;
  left: 2%;
}

#home-container {
  min-width: 100vw;
  min-height: 100vh;
  background-image: url("https://i.imgur.com/AkO1sgI.jpg");
}

#home-container #cover {
  background-color: rgba(0, 0, 0, 0.6);
  min-height: 100vh;
  min-width: 100vw;
  position: absolute;
  top: 0%;
  left: 0%;
}

#center {
  position: absolute;
  top: 50vh;
  left: 50vw;
  transform: translate(-50%,-50%);
}

#sign-in-button {
  position: absolute;
  right: 5%;
  top: 5%;
}